In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
xl = pd.read_excel('blank-check-data.xlsx', sheet_name=None, index_col='CODE')
df_miniseries = xl['MINISERIES']
df_films = xl['FILMS']
df_films.head()

,NAME,MINISERIES,PATREON,NONDIRECTOR,RELEASEDATE,BUDGET,REVENUE,RUNTIME,MINISERIESNAME
CODE,,,,,,,,,
1893,Star Wars: Episode I - The Phantom Menace,STARWARS,False,NaN,1999-05-19,115000000,924317558,136,Star Wars
205587,The Judge,JUDGE,False,NaN,2014-10-08,50000000,83719388,141,Judging the Judge
1894,Star Wars: Episode II - Attack of the Clones,STARWARS,False,NaN,2002-05-15,120000000,649398328,142,Star Wars
22059,The Fantastic Four,FANTASTICFOUR,False,NaN,1994-01-01,1500000,0,90,The Podcastic Two
9738,Fantastic Four,FANTASTICFOUR,False,NaN,2005-06-29,100000000,330579719,106,The Podcastic Two

In [24]:
import glob
import os
corpus_path = 'C:/Users/Rik/Documents/corpus/'
scripts_path = 'imsdb_raw_nov_2015'

filmFiles = {}

for folder in os.scandir(corpus_path + scripts_path):
    if folder.is_dir():
        for file in os.scandir(folder.path):
            if(file.name.endswith('.txt')):
                if not file.name in filmFiles:
                    filmFiles[file.name] = { 'path': file.path }

In [33]:
def cleanFileName(text):
    return text.replace('.txt', '').replace('the', '').replace(':', '')

def cleanTitle(text):
    return text.lower().replace(' ', '').replace('the', '').replace(':', '')

matchedFilms = {}
for filmName, filmInfo in filmFiles.items():
    df_found = df_films[df_films.apply(lambda f: cleanTitle(f['NAME']) == cleanFileName(filmName), axis=1)]
    if(len(df_found)):
        matchedFilms[df_found.index.values.astype(int)[0]] = {
            'FILEPATH': filmInfo['path'],
            'NAME': df_found['NAME'].iloc[0],
            'MINISERIES': df_found['MINISERIES'].iloc[0]
        }

In [34]:
for key, filmInfo in matchedFilms.items():
    print(filmInfo['NAME'], filmInfo['MINISERIES'], filmInfo['FILEPATH'])

The Abyss CAMERON C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\abyssthe.txt
Aliens CAMERON C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\aliens.txt
Avatar CAMERON C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\avatar.txt
The Avengers MCU C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\avengersthe.txt
Batman BURTON C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\batman.txt
The Dark Knight Rises NOLAN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\darkknightrisesthe.txt
The Fantastic Four FANTASTICFOUR C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\fantasticfour.txt
Heat MANN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\heat.txt
Inception NOLAN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\inception.txt
Lost in Space LOSTINSPACE C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\lostinspace.txt
The Matrix Reloaded WACHOWSKI C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\matrixreloadedthe.txt
The Matrix WACHOWSKI C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\matrixthe.txt
Miami Vice MANN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\miamivice.txt
Minority Report SPIELBERG C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\minorityreport.txt
Planet of the Apes BURTON C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\planetoftheapesthe.txt
Point Break BIGELOW C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\pointbreak.txt
Saving Private Ryan SPIELBERG C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\savingprivateryan.txt
Speed Racer WACHOWSKI C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\speedracer.txt
Starship Troopers VERHOEVEN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\starshiptroopers.txt
Strange Days BIGELOW C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\strangedays.txt
The Terminator CAMERON C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\terminator.txt
Thor MCU C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\thor.txt
Total Recall VERHOEVEN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\totalrecall.txt
True Lies CAMERON C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\truelies.txt
War of the Worlds SPIELBERG C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Action\waroftheworlds.txt
Big Fish BURTON C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Adventure\bigfish.txt
The Last of the Mohicans MANN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Adventure\lastofthemohicansthe.txt
Life of Pi LEE C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Adventure\lifeofpi.txt
Almost Famous CROWE C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Comedy\almostfamous.txt
As Good as It Gets BROOKS C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Comedy\asgoodasitgets.txt
Broadcast News BROOKS C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Comedy\broadcastnews.txt
Ed Wood BURTON C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Comedy\edwood.txt
Jerry Maguire CROWE C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Comedy\jerrymaguire.txt
Sense and Sensibility LEE C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Comedy\senseandsensibility.txt
Spanglish BROOKS C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Comedy\spanglish.txt
Basic Instinct VERHOEVEN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Crime\basicinstinct.txt
Bound WACHOWSKI C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Crime\bound.txt
Catch Me If You Can SPIELBERG C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Crime\catchmeifyoucan.txt
Insomnia NOLAN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Crime\insomnia.txt
Public Enemies MANN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Crime\publicenemies.txt
Ali MANN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Drama\ali.txt
Edward Scissorhands BURTON C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Drama\edwardscissorhands.txt
The Ice Storm LEE C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Drama\icestormthe.txt
The Insider MANN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Drama\insiderthe.txt
Lincoln SPIELBERG C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Drama\lincoln.txt
Manhunter MANN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Drama\manhunter.txt
Memento NOLAN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Drama\memento.txt
Signs SHYAMALAN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Drama\signs.txt
The Sixth Sense SHYAMALAN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Drama\sixthsensethe.txt
Sweeney Todd: The Demon Barber of Fleet Street BURTON C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Drama\sweeneytoddthedemonbarberoffleetstreet.txt
Titanic CAMERON C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Drama\titanic.txt
Unbreakable SHYAMALAN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Drama\unbreakable.txt
War Horse SPIELBERG C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Drama\warhorse.txt
Zero Dark Thirty BIGELOW C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Drama\zerodarkthirty.txt
Hollow Man VERHOEVEN C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Horror\hollowman.txt
Sleepy Hollow BURTON C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Horror\sleepyhollow.txt
Vanilla Sky CROWE C:/Users/Rik/Documents/corpus/imsdb_raw_nov_2015\Mystery\vanillasky.txt

In [35]:
df_matched_films = pd.DataFrame.from_dict(matchedFilms, orient='index')
df_matched_films.head()

,FILEPATH,NAME,MINISERIES
74,C:/Users/Rik/Documents/corpus/imsdb_raw_nov_20...,War of the Worlds,SPIELBERG
77,C:/Users/Rik/Documents/corpus/imsdb_raw_nov_20...,Memento,NOLAN
82,C:/Users/Rik/Documents/corpus/imsdb_raw_nov_20...,Miami Vice,MANN
162,C:/Users/Rik/Documents/corpus/imsdb_raw_nov_20...,Edward Scissorhands,BURTON
180,C:/Users/Rik/Documents/corpus/imsdb_raw_nov_20...,Minority Report,SPIELBERG

In [37]:
df_director_miniseries = df_miniseries[df_miniseries['DIRECTOR']]
df_director_miniseries.head()

,NAME,DIRECTOR,STANDALONE,BENSCHOICE,FAMILYCHOICE,GUESTCHOICE,COMMENTARY,PATREON
CODE,,,,,,,,
SHYAMALAN,Pod Night Shyamacast,True,False,False,False,False,False,False
WACHOWSKI,Podchowski Casters,True,False,False,False,False,False,False
CROWE,We Pod A Cast,True,False,False,False,False,False,False
CAMERON,Podinator: Judgment Cast,True,False,False,False,False,False,False
SPIELBERG,Pod Me If You Cast,True,False,False,False,False,False,False

In [39]:
df_director_films = df_matched_films[df_matched_films['MINISERIES'].isin(df_director_miniseries.index.values)]
df_director_films.head()

,FILEPATH,NAME,MINISERIES
74,C:/Users/Rik/Documents/corpus/imsdb_raw_nov_20...,War of the Worlds,SPIELBERG
77,C:/Users/Rik/Documents/corpus/imsdb_raw_nov_20...,Memento,NOLAN
82,C:/Users/Rik/Documents/corpus/imsdb_raw_nov_20...,Miami Vice,MANN
162,C:/Users/Rik/Documents/corpus/imsdb_raw_nov_20...,Edward Scissorhands,BURTON
180,C:/Users/Rik/Documents/corpus/imsdb_raw_nov_20...,Minority Report,SPIELBERG

In [48]:
def removeTopHtml(text):
    topHtml = "<b><!--\n\n</b>if (window!= top)\n\ntop.location.href=location.href\n\n<b>// -->\n\n</b>"
    return text.replace(topHtml, '')

def removeNewLines(text):
    return text.replace('\n', ' ')

def removeTabs(text):
    return text.replace('\t', ' ')

def cleanText(text):
    return removeTabs(removeNewLines(removeTopHtml(text)))

def getScriptText(filename):
    with open(filename, 'r') as infile:
        return cleanText(infile.read())

miniseriesScripts = []
for miniseries, group_films in df_director_films.groupby(['MINISERIES']):
    currentScripts = []
    for index, film in group_films.iterrows():
        currentScripts.append(getScriptText(film['FILEPATH']))
    miniseriesScripts.append({
        'NAME': miniseries,
        'SCRIPTS': currentScripts
    })
df_miniseries_scripts = pd.DataFrame(miniseriesScripts)
df_miniseries_scripts.head()

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

      NAME                                            SCRIPTS
0  BIGELOW  [    S T R A N G E   D A Y S      by James Cam...
1   BROOKS  [                               SPANGLISH     ...
2   BURTON  [Edward Sissorhands      OLD KIM    Snuggle in...
3  CAMERON  [                      " T E R M I N A T O R "...
4    CROWE  [ALMOST FAMOUS by Cameron Crowe's   <b><!--  <...